.Title-container {
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: #006400;
}

.Title-icon {
  margin-left: 10px;
}

.Title {
  position: absolute;
  color: white;
  margin-top: -13px;
  top: 50%;
  margin-left: 65px;
}

.Title-Link {
  color: white;
  text-decoration: none;
}

.Title-Link:hover {
  text-decoration: none;
}

.Title-Link:visited {
  text-decoration: none;
}
